@{



    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}

<address>
    <strong>Need Support?</strong> Please send us a mail<br />
</address>
<br />
<form method="post" action="Contact">
    <div class="container">
        <span class="form-control-static"> Receiver: </span>
        <input class="form-control" type="text" name="receiver" />
        <br /> <span class="form-control-static"> Subject: </span>
        <input class="form-control" type="text" name="subject" />
        <br /> <span class="form-control-static"> Message: </span>
        <input class="form-control" type="text" name="message" /> <br /> <input class="btn btn-default" type="submit" value="Send" />
    </div>
</form>
<br />
<br />
<br />
<h4>RECRUIT</h4>
<address>
    
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
