@{



    ViewBag.Title = "Contact";
}

    <div style="padding:50px; background-color: white; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175); border: 2px dotted pink; margin-top: 20px; border-radius: 10px; display: flex; flex-direction: column; justify-content: space-between;">

<h2>@ViewBag.Title.ToUpper()</h2>

<div style="background-color: none;">
    <hr />
</div>@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}

<address>
    <strong>Need Support?</strong> Please send us a mail marvelousfrank5@gmail.com<br />
</address>
<hr />
<form method="post" action="Contact">
    <div class="container">
      <span class="form-control-static"> Subject: </span>
        <input class="form-control" type="text" name="subject" />
        <br /> <span class="form-control-static"> Message: </span>
        <input multiple  class="form-control" type="text" name="message"/> <br /> <input class="btn btn-default" type="submit" value="Send" style="color: white; background-color: #120227;" />
    </div>
</form>
<br />
<br />
<br />
<div style="background-color: none;">
<hr />
</div>
<h4><span><img src="~/Images/recruit-logo.png" alt="R" width="20" height="20" /></span><b>RECRUIT</b></h4>
<address>
    
    I G, Ogbonna Close,<br />
    Adam's Block, Akute Ogun.<br />
    <abbr title="Phone">P:</abbr>
    09036417646
</address>
    </div>

