@{



    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}

<address>
    <strong>Need Support?</strong> Please send us a mail marvelousfrank5@gmail.com<br />
</address>
<hr />
<form method="post" action="Contact">
    <div class="container">
        <span class="form-control-static"> Receiver: </span>
        <input class="form-control" type="text" name="receiver" />
        <br /> <span class="form-control-static"> Subject: </span>
        <input class="form-control" type="text" name="subject" />
        <br /> <span class="form-control-static"> Message: </span>
        <input class="form-control" type="text" name="message" /> <br /> <input class="btn btn-default" type="submit" value="Send" style="color: white; background-color: #120227;" />
    </div>
</form>
<br />
<br />
<br />
<h4><span><img src="~/Images/recruit-logo.png" alt="R" width="20" height="20" /></span><b>RECRUIT</b></h4>
<address>
    
    I G, Ogbonna Close,<br />
    Adam's Block, Akute Ogun.<br />
    <abbr title="Phone">P:</abbr>
    09036417646
</address>
